## Null hypoth: Something

### Explanation of process

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#create a list of the input files
list_of_stat_files = ['poker_stats.csv', 'ssbm_stats.csv', 'chess_stats.csv', 'tennis_stats.csv', 'pinball_stats.csv']
list_of_rank_files = ['poker_rank_data.csv', 'ssbm_rank_data.csv', 'chess_rank_data.csv', 'tennis_rank_data.csv', 'pinball_rank_data.csv']

#create dataframes to hold the data
stats_df = pd.DataFrame()
rank_df = pd.DataFrame()

In [4]:
#read all the data in the stats files into stats_df
for file in list_of_stat_files:
    temp_df = pd.read_csv(file)
    stats_df = pd.concat([stats_df, temp_df])
    
#read all the data in the rank files into rank_df
for file2 in list_of_rank_files:
    temp_df2 = pd.read_csv(file2)
    rank_df = pd.concat([rank_df, temp_df2])

#### If you're keen to export all of the data as a single file, run the below:

In [5]:
#stats_df.to_csv('all_stats.csv', index=False)
#rank_df.to_csv('all_ranks.csv', index=False)

In [12]:
stats_df[stats_df['YEAR'] == 2019]

     FIELD  YEAR  CHANGE   MAX   MIN  NEW_CT  N_RANK_AVG  G_CHANGE  G_MAX
5    POKER  2019  1318.0  71.0 -73.0      45        65.0    2941.0   81.0
5     SSBM  2019   964.0  55.0 -41.0      33        72.0    1931.0   82.0
5    CHESS  2019  1070.0  48.0 -50.0      15        68.0    1570.0   88.0
5   TENNIS  2019  1620.0  64.0 -85.0      27        75.0    2328.0   80.0
3  PINBALL  2019   918.0  41.0 -31.0      16        80.0    1252.0   47.0