## Null hypoth: Something

### Explanation of process

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#create a list of the input files
list_of_stat_files = ['poker_stats.csv', 'ssbm_stats.csv', 'chess_stats.csv', 'tennis_stats.csv', 'pinball_stats.csv']
list_of_rank_files = ['poker_rank_data.csv', 'ssbm_rank_data.csv', 'chess_rank_data.csv', 'tennis_rank_data.csv', 'pinball_rank_data.csv']

#create dataframes to hold the data
stats_df = pd.DataFrame()
rank_df = pd.DataFrame()

In [4]:
#read all the data in the stats files into stats_df
for file in list_of_stat_files:
    temp_df = pd.read_csv(file)
    stats_df = pd.concat([stats_df, temp_df])
    
#read all the data in the rank files into rank_df
for file2 in list_of_rank_files:
    temp_df2 = pd.read_csv(file2)
    rank_df = pd.concat([rank_df, temp_df2])

#### If you're keen to export all of the data as a single file, run the below:

In [5]:
#stats_df.to_csv('all_stats.csv', index=False)
#rank_df.to_csv('all_ranks.csv', index=False)

In [23]:
stats_df

     FIELD  YEAR  CHANGE   MAX   MIN  NEW_CT  N_RANK_AVG  G_CHANGE  G_MAX
0    POKER  2014  1681.0  77.0 -72.0      39        58.0    3344.0   91.0
1    POKER  2015  1346.0  75.0 -84.0      42        61.0    3026.0   98.0
2    POKER  2016  1508.0  58.0 -69.0      37        63.0    2926.0   83.0
3    POKER  2017  1061.0  61.0 -79.0      46        61.0    2898.0   90.0
4    POKER  2018  1285.0  72.0 -71.0      52        64.0    3217.0   87.0
5    POKER  2019  1318.0  71.0 -73.0      45        65.0    2941.0   81.0
0     SSBM  2014   909.0  55.0 -37.0      25        68.0    1730.0   72.0
1     SSBM  2015   914.0  65.0 -40.0      27        65.0    1873.0   69.0
2     SSBM  2016  1010.0  57.0 -35.0      22        77.0    1537.0   57.0
3     SSBM  2017   727.0  44.0 -35.0      29        74.0    1518.0   82.0
4     SSBM  2018   880.0  51.0 -39.0      27        74.0    1621.0   82.0
5     SSBM  2019   964.0  55.0 -41.0      33        72.0    1931.0   82.0
0    CHESS  2014  1043.0  38.0 -51.0      15        80.0    1361.0   43.0
1    CHESS  2015   899.0  53.0 -49.0      20        78.0    1358.0   55.0
2    CHESS  2016   941.0  51.0 -46.0      17        79.0    1322.0   57.0
3    CHESS  2017  1104.0  50.0 -51.0      21        78.0    1580.0   57.0
4    CHESS  2018  1149.0  54.0 -53.0      20        78.0    1614.0   73.0
5    CHESS  2019  1070.0  48.0 -50.0      15        68.0    1570.0   88.0
0   TENNIS  2014  1300.0  66.0 -65.0      28        68.0    2236.0   79.0
1   TENNIS  2015  1074.0  47.0 -68.0      23        76.0    1648.0   82.0
2   TENNIS  2016  1219.0  63.0 -58.0      29        73.0    2034.0   63.0
3   TENNIS  2017  1193.0  53.0 -64.0      28        73.0    1974.0   67.0
4   TENNIS  2018  1729.0  76.0 -61.0      26        73.0    2456.0   81.0
5   TENNIS  2019  1620.0  64.0 -85.0      27        75.0    2328.0   80.0
0  PINBALL  2016   942.0  45.0 -36.0      15        81.0    1243.0   45.0
1  PINBALL  2017  1044.0  49.0 -64.0      31        69.0    2025.0   69.0
2  PINBALL  2018  1128.0  61.0 -60.0      29        73.0    1938.0   89.0
3  PINBALL  2019   918.0  41.0 -31.0      16        80.0    1252.0   47.0
4  PINBALL  2020  1119.0  44.0 -38.0      14        80.0    1410.0   73.0