## Null hypoth: Something

### Explanation of process

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
#create a list of the input files
list_of_stat_files = ['poker_stats.csv', 'ssbm_stats.csv', 'chess_stats.csv', 'tennis_stats.csv', 'pinball_stats.csv']
list_of_rank_files = ['poker_rank_data.csv', 'ssbm_rank_data.csv', 'chess_rank_data.csv', 'tennis_rank_data.csv', 'pinball_rank_data.csv']

#create dataframes to hold the data
stats_df = pd.DataFrame()
rank_df = pd.DataFrame()

In [15]:
#read all the data in the stats files into stats_df
for file in list_of_stat_files:
    temp_df = pd.read_csv(file)
    stats_df = pd.concat([stats_df, temp_df])
    
#read all the data in the rank files into rank_df
for file2 in list_of_rank_files:
    temp_df2 = pd.read_csv(file2)
    rank_df = pd.concat([rank_df, temp_df2])

#### If you're keen to export all of the data as a single file, run the below:

In [20]:
#stats_df.to_csv('all_stats.csv', index=False)
#rank_df.to_csv('all_ranks.csv', index=False)

In [24]:
stats_df.groupby("FIELD").mean()

,YEAR,CHANGE,MAX,MIN,NEW_CT,N_RANK_AVG,G_CHANGE,G_MAX
FIELD,,,,,,,,
CHESS,2016.5,1034.333333,49.0,-50.000000,18.000000,76.833333,1467.500000,62.166667
PINBALL,2018.0,1030.200000,48.0,-45.800000,21.000000,76.600000,1573.600000,64.600000
POKER,2016.5,1366.500000,69.0,-74.666667,43.500000,62.000000,3058.666667,88.333333
SSBM,2016.5,900.666667,54.5,-37.833333,27.166667,71.666667,1701.666667,74.000000
TENNIS,2016.5,1355.833333,61.5,-66.833333,26.833333,73.000000,2112.666667,75.333333